
<!-- MAIN FILE -->

<div class="dashboard">

<!--<br>-->

<div class="container-fluid">

<!--meta stuff row-->
<div class="row meta-row">
    <div class="col-md-6"></div>
    <div class="col-md-6 meta-container">
        <a href="/locations/new" class="btn btn-primary">+ New Location</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="sidebar">
            <div class="user-info">
                <div class="user-thumbnail">
                    <img src="//placehold.it/60x60" class="img-circle">
                </div>
                <div class="user-data">
                    <h4>Patmedersen</h4>
                    <div>Matt Pedersen</div>
                </div>
            </div>
            <div class="group-info">
                <div class="lcnt">
                    <h3>Really cool kids</h3>
                </div>
            </div>
            <div class="main-data">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" class="active"><a href="#">Users (27)</a></li>
                    <li role="presentation"><a href="#">Places (84)</a></li>
                </ul>
                <div class="group-users">
                    <ul class="list-group gu-user">
                        <button type="button" class="list-group-item">
                            <span class="gu-thumbnail">
                                <img src="//placehold.it/30x30" class="img-circle">
                            </span>
                            <span class="gu-info">
                                Patmedersen
                            </span>
                        </button>
                        <button type="button" class="list-group-item">
                            <span class="gu-thumbnail">
                                <img src="//placehold.it/30x30" class="img-circle">
                            </span>
                            <span class="gu-info">
                                MaxRoarSux
                            </span>
                        </button>
                        <button type="button" class="list-group-item">
                            <span class="gu-thumbnail">
                                <img src="//placehold.it/30x30" class="img-circle">
                            </span>
                            <span class="gu-info">
                                SamanCookieClickz
                            </span>
                        </button>
                        <button type="button" class="list-group-item">
                            <span class="gu-thumbnail">
                                <img src="//placehold.it/30x30" class="img-circle">
                            </span>
                            <span class="gu-info">
                                Alexstrasa
                            </span>
                        </button>
                        <button type="button" class="list-group-item">
                            <span class="gu-thumbnail">
                                <img src="//placehold.it/30x30" class="img-circle">
                            </span>
                            <span class="gu-info">
                                HelloKitty
                            </span>
                        </button>
                        <button type="button" class="list-group-item">
                            <span class="gu-thumbnail">
                                <img src="//placehold.it/30x30" class="img-circle">
                            </span>
                            <span class="gu-info">
                                Ed From Eddy
                            </span>
                        </button>
                        <button type="button" class="list-group-item">
                            <span class="gu-thumbnail">
                                <img src="//placehold.it/30x30" class="img-circle">
                            </span>
                            <span class="gu-info">
                                CowPerson123213
                            </span>
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="map-container">
            <div id="map"></div>
        </div>
    </div>
</div>

</div>

</div>

<script src="~/js/groupPage.js"></script>