
<div class="container">

<h2 class="page-header">Add new Location for Group XYZ</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <form action="#" class="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Location name...">
                </div>
                <hr>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Street Address...">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="City...">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="State (IL)...">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Zip (60067)...">
                        </div>
                    </div>
                </div>
                <hr>

                <div>Add a Review for this Location</div>

                <br>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <select name="Rating" class="form-control">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                                <option value="1">5</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <textarea class="form-control" placeholder="Write a short message..."></textarea>
                </div>

                <hr>

                <input type="submit" class="btn btn-block btn-primary" value="Create">
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla unde suscipit, quibusdam distinctio corporis!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores mollitia, praesentium saepe! Perspiciatis minus excepturi vitae, tenetur quas eius placeat!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quod alias reprehenderit quos ipsam at mollitia? Quaerat aliquam nulla esse in. Nam tempora labore quos, soluta.</p>
    </div>
</div>

</div>