@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        hello world index!!!
    </div>

    <div class="col-md-9">
        <!--<div id="map"></div>-->
    </div>
</div>